
body{
  margin:40px auto;
  max-width:650px;
  line-height:2;
  font-size:24px;
  color:#444;
  padding:0 10px;
  font-family: monospace;
}

h1,h2,h3{line-height:1.2}

button {
  font-family: monospace;
  font-size: 24px;
  margin: 3px;
}

#state {
  margin-top: 24px;
  border-top: 1px solid black;
  padding-top: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid black;
  padding-bottom: 24px;

}
